<div class="col-md-3 float-left">
    <a routerLink="nature">
        <img src="https://cdn.pixabay.com/photo/2017/10/04/18/11/road-2817102_960_720.jpg" width="100%" alt="Nature Image">
    </a>
    <a routerLink="flowers">
            <img src="https://cdn.pixabay.com/photo/2018/02/09/21/46/rose-3142529_960_720.jpg" width="100%"  alt="Flowers Image">
        </a>
        <a routerLink="sky">
                <img src="https://cdn.pixabay.com/photo/2018/04/05/23/30/nature-3294543__340.jpg" width="100%" alt="Sky Image">
        </a>
</div>
<router-outlet></router-outlet>
