<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->
    <!-- <bean id="messageBean" class ="com.capg.springcore.beans.MessageBean">
    <property name="message" value="Welcome to Spring..."></property>
    </bean> -->
    <bean class="com.capg.springcore.postprocessors.MyBeanPostProcessor"></bean>   <!-- to do before and after intialization -->
    <bean class="com.capg.springcore.postprocessors.MyBeanFactoryPostProcessor"></bean>     <!-- to perform before instantiation -->
    
    <bean id="messageBean2" class="com.capg.springcore.beans.MessageBean2" init-method="test" destroy-method="destroy">
    <property name="message" value="Happy Children's Day..."></property>
    </bean>
    
    <!-- <bean id="employee1" class="com.capg.springcore.beans.EmployeeBean">
    <property name="empId" value="101" />
    <property name="name" value="Aishwarya" />
    </bean>
    <bean id="employee2" class="com.capg.springcore.beans.EmployeeBean">
    <property name="empId" value="102" />
    <property name="name" value="Saksham" />
    </bean> -->

</beans>
